/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
.nav a {
		color:black;
		position: center;
		text-align: center;}				

html, body {
	background-color: #F8FAF6 ;
	text-color: black;
	padding-left: 10%;
	padding-right: 10%;}
								
h1 {
	font-family: 'Crimson Text', serif;}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 29px;}
h3 {
	font-family: 'Playfair Display', serif;
	font-size: 29px;}

li {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height:1.5;} 
	
p {
	font-family: 'Open Sans', sans-serif;}

a {
	font-family: 'Crimson Text', serif;}
}

/* Control the right side */
.right {
  right: 0;
  .nav a {
		color:black;
		position: center;
		text-align: center;}				

html, body {
	background-color: #F8FAF6 ;
	text-color: black;
	padding-left: 10%;
	padding-right: 10%;}
								
h1 {
	font-family: 'Crimson Text', serif;}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 29px;}
h3 {
	font-family: 'Playfair Display', serif;
	font-size: 29px;}

li {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height:1.5;} 
	
p {
	font-family: 'Open Sans', sans-serif;}

a {
	font-family: 'Crimson Text', serif;}
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
/* .centered img { */
/*  width: 150px; */
/*  border-radius: 50%; */
/* } */